@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
}

.label {
  color: white;
  margin: 0.5rem;
}

.btn {
  background-color: hsl(0, 0%, 40%);
  margin: 0.5rem;
  padding: 1.25rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: filter 0.125s linear;
}

.btn:hover {
  filter: brightness(105%);
  cursor: pointer;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background-color: hsla(0, 0%, 0%, 0.75);

  z-index: 100;
}

.popup > * {
  width: 100%;
  max-width: 480px;
  overflow: hidden;
}

.pop-input {
  background-color: white;
  border: 0;
  width: calc(100% - 1rem);
  box-sizing: border-box;
}

.error {
  color: red;
}

.full {
  width: 100%;
}

.bar {
  display: flex;
  align-items: center;
}

.fresh {
  background-color: hsl(100, 50%, 50%);
}

.scary {
  background-color: hsl(0, 75%, 50%);
}